@media(prefers-reduced-motion: no-preference){
    :root{
        scroll-behavior: inherit;
    }
}

.scroll{
    scroll-behavior: smooth;
}

::selection{
    color: #fff;
    background: #c27b7f;
}

a{
    text-decoration:none;
    color: #2f4858;
    transition: 0.3s;

}

body{
    box-sizing:border-box;
}
.section-wrapper{
    overflow-x: hidden;
}
.bg-one{
    background-color: #f5ebe6;
}
.section-padding{
    padding: 80px 0;
}

#preLoader{
    position: fixed;
    height: 100vh;
    width: 100%;
    top:0;
    left: 0;
    z-index: 999;
    animation: preloader 1s 1s linear forwards;
    background-color: #fff;
}
.badge-text{
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #c27b7f;
    font-weight: 600;
    display:inline-block ;
}
.button{
    pointer-events: auto;
    cursor: pointer;
    background-color: #c27b7f;
    color: #fff;
    border: none;
    align-items: center;
    padding: 10px 30px;
    line-height: 30px;
    margin:0;
    position: relative;
    display: inline-block;

}
.button:hover{
    color: #fff;
}

.button::before,
.button::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.button__primary{
    border-radius: 3px;
    overflow: hidden;
    color: #fff;
    background: #876585;
}
.button__primary::before{
    content: '';
    background: #c27b7f;
    width: 125%;
    left: -12%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3,1,.8,1);
}

.button__primary span{
    position: relative;
}

.button__primary:hover::before{
    transform: translate3d(100%,0,0);
}
