.header {
    position: absolute;
    width: 100%;
    transition: border-radius 0.2s, width 350ms ease;
}

.header.navbar_fixed{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 100;
    box-shadow: 0 2px 0 rgba(1,6,33,0.06);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.header.header.navbar_fixed .navbar{
    margin-top: 0px;
}

.header .navbar{
    border: 0px;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    top:0;
    left: 0px;
    z-index: 100;
    transition: all .3s;
    transition: all 0.4s ease-in-out;
}

.header .navbar .navbar-brand{
    padding: 0px;
}
.header .navbar .navbar-nav li a{
    color: #2f4858;
}
.header .navbar .navbar-nav li a:hover,
.header .navbar .navbar-nav li a.active{
    color: #c27b7f;
    background: none;
}
.header .navbar-expand-lg{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
}
.header .navbar-toggler{
    position: relative;
    width: 30px;
    height: 20px;
    border-radius: 0px;
    padding: 0px;
    border: 0px;
}

.header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

.header .navbar-toggler span{
    display: block;
    position: absolute;
    height: 1px;
    width: 50%;
    background: #2f4858;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}
.header .navbar-toggler span:nth-child(even){
    left: 50%;
    border-radius: 0 9px 9px 0;
} 
.header .navbar-toggler span:nth-child(odd){
    left: 0;
    border-radius:  9px 0 0 9px;
} 


