@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* * > * {
    font-family: "Poppins", cursive;
    margin: 0;
} */
* {
  box-sizing: border-box !important;
}
.b{
  background-color: rgba(193, 160, 119, 0.484);
  height: auto;
  overflow: hidden;
}

.mg {
  height: 100vh;

  width: 100%;
} 



.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}
.col-6 {
  height: 100vh;
}


.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}